.signInButtonStyle {
    height: 3rem;
    border: none;
    border-radius: 3rem;
    background-color: var(--gray-850);
    color: var(--white);
    font-weight: bold;
    padding: 0 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    svg.closeIcon {
        margin-left: 0.5rem;
    }
    svg {
        width: 20px;
        height: 20px;
    }

    svg:first-child {
        margin-right: 0.5rem;
    }

    transition: filter 0.2s;

    &:hover {
        filter: brightness(0.8);
    }
}